.navlinks {
  margin-left: auto;
}

.navIcon {
  color: #42adf5;
  opacity: 1;
  box-shadow: 0 0 10px #42adf5, 0 0 20px #42adf5, 0 0 30px #42adf5;
}

.navSleep {
  /* opacity: 0.25; */
  box-shadow: 0 0 0 pink;
}
.navGlow {
  opacity: 1;
  box-shadow: 0 0 10px rgb(211, 44, 161), 0 0 20px rgb(211, 44, 161),
    0 0 30px rgb(211, 44, 161);
  transition: 0.4s;
}
