.container {
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-wrap: wrap;
  z-index: 1;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  background: rgba(128, 128, 128, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 1px solid rgb(209, 208, 208);
  border-left: 1px solid rgb(209, 208, 208);
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgb(24, 24, 24);
  backdrop-filter: blur(5px);
}

/* from react-tilt */
.tilt {
  width: 320px;
  height: 420px;
}

/* change header color  */
.content h3 {
  padding: 5px;
}
.yellow {
  background: rgb(173, 105, 4);
}
.green {
  background: rgb(34, 156, 4);
}
.content h2 {
  position: absolute;
  top: -70px;
  right: 10px;
  font-size: 2rem;
}
.glassCard-img {
  width: 45%;
  opacity: 0.8;
}
